* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: white
}

:root {
    --color-primary: #ede2d9;
}

header {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    border-color: black;
    padding: 10px;
    font-size: large;

}

header nav ul li a:hover {
    color: pink;
}

header img {
    width: 250px;
}